/*
* Space modifiers
*/

$base--unit : 1rem;

$space--none : 0;
$space--2xs  : calc(0.25 * #{$base--unit}); // 4px
$space--xs   : calc(0.5 * #{$base--unit});  // 8px
$space--sm   : calc(0.75 * #{$base--unit}); // 12px
$space--md   : calc(1.25 * #{$base--unit}); // 20px
$space--lg   : calc(2 * #{$base--unit});    // 32px
$space--xl   : calc(3.25 * #{$base--unit}); // 52px
$space--2xl  : calc(5.25 * #{$base--unit}); // 84px
