@import "../../styles/base/all";

nav {
  background-color: $color--lite-black;
  color: $color--white;
  border-bottom: 1px solid $color--black;
  padding: 10px 0;
  h2 {
    letter-spacing: 0.7px;
  }
}
