
@import '../../styles/app.scss';

aside {
    width: 20%;
    float: left;
    input {
        padding: 10px 20px;
        width: 100%;
        background: $color--lite-black;
        outline: none;
        border: 1px solid black;
        color: $color--white;
        background: url('../../assets/images/search-icon.svg') no-repeat 97% 50%;
    }
    li {
        text-align: left;
        padding: 10px 20px;
        border-bottom: 1px solid black;
        color: white;
        border-right: 1px solid black;
        cursor: pointer;
        span {
            margin-left: 5px;
            color: red;
        }
    }
}